.nav__menu{
    overflow: hidden;
    width: 35%;
    height: 40px;
    background-color: $backgroundColor2;
    color: white;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: flex-end;
    margin: 10px;
    
    a{  
       text-align: center;
       text-decoration: none;
       margin: 10px;
       margin-right: 20px;
    
    }
    a:hover{ 
       background-color: $FontsBkcgrdcolor3;
       color: $backgroundColor1;
 }
    
}   
}

// bouncing arrow section
.scroll{
 
.arrow {

 text-align: center;
 margin: 8% 0;
 a{color: white;}
}
.bounce {
 -moz-animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 animation: bounce 4s infinite;
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
   transform: translateY(0);
 }
 40% {
   transform: translateY(-30px);
 }
 60% {
   transform: translateY(-15px);
 }
}
}