// declaring variables
$fontFamily: "Poppins", sans-serif;
$navMenuButton: rgba(240, 169, 93, 0.875);
$fontButtonColor : rgb(8, 4, 4);
$backgroundColor2 :  #4db5ff;
$backgroundColor1:rgb(34, 1, 66);
$FontsBkcgrdcolor3: aliceblue;
